<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>22888426705-gs6jjkgic3selutk5sr8k8c0vq6g943c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.22888426705-gs6jjkgic3selutk5sr8k8c0vq6g943c</string>
	<key>API_KEY</key>
	<string>AIzaSyB7DjNLWC-49Wno2sIKJasxOdImKG4rFX0</string>
	<key>GCM_SENDER_ID</key>
	<string>22888426705</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.byoungil.youn.CardPang</string>
	<key>PROJECT_ID</key>
	<string>card-pang</string>
	<key>STORAGE_BUCKET</key>
	<string>card-pang.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:22888426705:ios:d7ad62f18c4513e568e9f0</string>
	<key>DATABASE_URL</key>
	<string>https://card-pang.firebaseio.com</string>
</dict>
</plist>